.nav{
    display: block;
}

.img{
    max-height: 70px;
    max-width: auto;

    margin-left: 15px;
}

.prix{
    margin-left: 5px;

}

.prix::after {
    content: " €";
}

.Gallery{
    display: flex;
    flex-wrap: wrap;

    max-width: 500px;
}

.prix, .desc{
    display: none;
}

.visible{
    display: block;
}